.dashboard{
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: 'row';
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 5px 10px
}